body {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}



.title {
    color: #426696;
    text-align: center;
    padding: 30px;

}

.buttons {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}


.bottom-text {
  color: #426696;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.links {
  
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
}