<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Peluang</title>
  </head>
  <body>
    <h2>Permutasi Siklis</h2>
    
    <div class="container">
      <h3>Rumus</h3>
      <div class="inc-exp-container">
        <p> \[P = {(n-1)!}\]</p>
      </div>
      <h3>Mencari Permutasi Siklis</h3>
      <form id="form">
        <div class="form-control">
          <label for="ruangSampel">Banyaknya (n)</label>
          <input type="number" id="banyaknya" placeholder="Masukan Banyaknya..." />
        </div>
        <button class="btn">Cari Siklis</button>
      </form>
      
      <h3>Penyelesain</h3>
      <div class="inc-exp-container" id="penyelesain">

      </div>
      <button onclick="document.location.href='../../index.html'"class="btn">Kembali</button>
    </div>

    <script src="../../js/siklis.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </body>
</html>
