<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Peluang</title>
  </head>
  <body>
    <h2>Peluang</h2>
    
    <div class="container">
      <h3>Rumus</h3>
      <div class="inc-exp-container">
        <p> \[P(a) = {n(a) \over n(s)}\]</p>
      </div>
      <h3>Mencari Peluang</h3>
      <form id="form">
        <div class="form-control">
          <label for="ruangSampel">Ruang Sampel</label>
          <input type="number" id="ruangSampel" placeholder="Masukan Ruang Sampel..."/>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="ruangSemesta">Ruang Semesta </label>
          <input type="number" id="ruangSemesta" placeholder="Masukan Ruang Semesta..."/>
          <small>Error message</small>
        </div>
        <button class="btn">Cari Peluang</button>
      </form>
      
      <h3>Penyelesain</h3>
      <div class="inc-exp-container" id="penyelesain">

      </div>
      <button onclick="document.location.href='../index.html'"class="btn">Kembali</button>
    </div>

    <script src="../js/peluang.js"></script>
    <script src="../js/validasi.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <scrip id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></scrip>
  </body>
</html>
